# =========================
# Go build artifacts
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Binaries
/bin/
/build/

# =========================
# Go workspace
# =========================
go.work
go.work.sum

# =========================
# Dependency directories
# =========================
vendor/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs / Editors
# =========================
.idea/
*.swp
*.swo
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Air (Live Reload)
# =========================
tmp/


# =========================
# Database files
# =========================
*.db
*.sqlite3